
.normal {
    color: green;
}

.exceeded {
    color: red;;
}

header{
    background:none repeat scroll 0 0 #A6C9E2;
    color: yellow;
    font-size: 30px;
    padding: 7px 20px;
    margin: 7px;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.glyphicon {
    cursor: pointer;
}